.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    height: 1500px;
    margin-right: 300px;
    margin-left: 300PX;
    }
    

    
.div1 { grid-area: 1 / 1 / 2 / 7; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }
.div6 { grid-area: 2 / 5 / 3 / 6; }
.div7 { grid-area: 2 / 6 / 3 / 7; }
.img {
    width: 230px;
    height: 250px;
}
.hossz{
    width: 300px;
}
.parent div img{
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    
}
.parent div{
    box-shadow: 5px 5px 5px black;
}
.sfd {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 2 / 1 / 3 / 7; }
    .div3 { grid-area: 3 / 5 / 4 / 7; }

.sfd div{
    box-shadow: 5px 5px 5px black;
    height: 450px;
}
.img2{
    width: 1990px;
    height: 450px;
}

#header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  li{
    /* float: left; */
    display: inline-block;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
  }
  li a:hover{
    background-color: #111;
  }