body{
    background-color: lightgray;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
#content{
    padding-left: 20vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 20vw;
    background-color: lightgray;
}
#personal-table td, #network-table td{
    border: 1px;
    border-style: none;
    box-shadow: 2px 2px 5px 1.4px rgba(0, 0, 0, 0.2);
    padding: 5px 8px 5px 8px;
    background-color: rgb(215, 215, 215);
}
.alkatresz-nev{
    text-align: center;
}
.img-restrict{
    /* display: none; */
    max-height: 30vh;
    margin-left: 0;
    margin-right: auto;
}
@media screen and (max-width: 650px){
    .img-restrict{ display: none;}
}
.container-table{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#network-table, #personal-table{
    margin-right: 0;
    margin-left: auto;
}