body{
    background-color: lightgray;
}
#content{
    padding-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 5vw;
    background-color: lightgray;
}
#personal-table td, #network-table td{
    border: 1px;
    border-style: none;
    box-shadow: 2px 2px 5px 1.4px rgba(0, 0, 0, 0.2);
    padding: 5px 8px 5px 8px;
    background-color: rgb(215, 215, 215);
}
.alkatresz-nev{
    text-align: center;
}
