#header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
#header li{
    /* float: left; */
    display: inline-block;
}
#header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
}
#header li a:hover{
    background-color: #111;
}
body{
    padding: 0;
}
#content{
    padding: 1vh 1vw;
}