#header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
#header li{
    display: inline-block;
}
#header li a, .dropbtn{
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
}
#header li a:hover, .dropdown:hover .dropbtn{
    background-color: #111;
}
#header li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 4vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 2vh 3vw;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
  display: block;
}

body{
    padding: 0;
}
#content{
    padding: 1vh 1vw;
}

