.zaszlok{
    display: block;
    float: right;
  width: 10%;
  height: 80px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  transition: transform 0.3s ease-in-out;
}
.zaszlok:hover{
    transform: scale(1.1);
  cursor: pointer;
}
